@import "./Variables.scss";

.header {
	display: flex;
	justify-content: space-between;
	width: 100%;
	box-sizing: border-box;
	padding: 35px 0 35px 40px;

	.logo {
		width: 60%;
		text-decoration: none;
		color: $secundary;

		span {
			display: block;
		}

		.first-name {
			font-weight: bold;
			font-size: 36px;
			transition: all 0.2s ease-in-out;
		}

		.last-name {
			font-weight: light;
			font-size: 28px;
			margin-top: -10px;
			transition: all 0.2s ease-in-out;
		}

		&:hover {
			.first-name,
			.last-name {
				color: $primary;
			}
		}
	}

	.navbar {
		display: flex;
		width: 100%;

		.navlinks {
			display: flex;
			flex-direction: row;
			width: 100%;
			justify-content: space-between;
			align-items: center;
			list-style: none;

			.link {
				margin: 0 10px;

				a {
					text-decoration: none;
					color: $secundary;
					font-size: 25px;
					font-weight: normal;
					transition: all 0.2s ease-in-out;
				}

				.locale-container {
					position: relative;

					.current-locale,
					.locale-options {
						img {
							width: 25px;
							height: 20px;
							object-fit: cover;
						}

						span {
							color: $secundary;
							margin-left: 5px;
						}
					}

					.current-locale {
						display: flex;
						flex-direction: row;
						justify-content: center;
						align-items: center;
						cursor: pointer;
					}

					.locale-options {
						position: absolute;
						background-color: $background-light;
						box-sizing: border-box;
						right: 0;
						margin-top: 10px;
						display: none;

						&.visible {
							display: inherit;
						}

						.option {
							display: flex;
							flex-direction: row;
							cursor: pointer;
							transition: all 0.2s ease-in-out;
							padding: 5px 10px;

							span {
								width: 40px;
							}

							&:hover {
								background-color: $primary;
							}
						}
					}
				}

				&:hover {
					a {
						color: $primary;
					}
				}
			}
		}
	}
}
