
.header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px 10%;
  position: fixed;
  width: 100%;
  overflow: hidden;
  background-color: #090909;
}

.navlinks li a {
  font-weight: 900;
  color: #c0c0c0;
  font-size: 20px;
  font-weight: normal;
  text-decoration: none;
}

.navlinks {
  list-style: none;
}

.navlinks li {
  display: inline-block;
  padding: 0px 20px;
}

.navlinks li a {
  transition: all 0.3s ease 0s;
  transition: all 0.2s ease-in-out;
}

.navlinks li a:hover {
  color: #e5cf04;
  transform: scale(1.5);
}
