.presentation_container {
  display: flex;
  flex-direction: column;
}

.greetings {
  margin: 50px;
  margin-bottom: 0;
  padding-right: 10%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.greetings h1 {
  /* color: #e5cf04; */
  color: #023e8a;
  font-size: 50px;
  font-weight: bold;
}

.greetings h2 {
  font-size: 30px;
  font-weight: normal;
  color: #c0c0c0;
}

.greetings img {
  width: 200px;
  height: 300px;
  opacity: 80%;
  margin-bottom: 20px;
}

.description {
  color: #c0c0c0;
  font-size: 20px;
  width: auto;
  max-width: 60%;
  font-weight: lighter;
  text-align: justify;
  padding: 30px 10%;
  padding-top: 0;
  margin-left: auto;
  margin-right: 0;
}

@media (max-width: 480px) {
  .greetings img {
    width: 100px;
    height: 200px;
    z-index: 0;
  }

  .description {
    font-size: 16px;
    width: auto;
    max-width: 80%;
    margin: auto;
    padding: 0;
  }
}

@media (max-width: 720px) {
  .description {
    font-size: 16px;
    max-width: 70%;
  }
  .greetings h1 {
    font-size: 30px;
  }
  .greetings h2 {
    font-size: 20px;
  }
}
@media (min-width: 801px) {
}
@media (min-width: 1025px) {
}
@media (min-width: 1281px) {
}
