.presentation {
  display: flex;
  margin: 125px auto 94px;
  box-sizing: border-box;
  padding: 0 50px 0;

  .greetings {
    display: block;
    width: 50%;
    max-width: 100%;

    h1 {
      font-size: 35px;
      color: #242121;
      span {
        display: block;
        font-size: 33px;
      }
    }

    h2 {
      font-size: 28px;
      font-weight: normal;
      color: rgb(92, 92, 92);
    }
  }

  .history {
    width: 400px;
    margin-left: auto;

    p {
      margin-bottom: 20px;
      font-size: 20px;
      color: rgb(92, 92, 92);
    }
  }
}
@media (max-width: 900px) {
  .presentation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: 100%;
    margin: 65px auto 94px;
    padding: 0 20px 0;

    .greetings {
      display: block;
      width: 100%;

      h1 {
        font-size: 28px;
        color: #242121;
        span {
          margin-left: 10px;
          display: inline-block;
          font-size: 35px;
        }
      }

      h2 {
        margin-top: 5px;
        margin-left: 15px;
        font-size: 22px;
        font-weight: normal;
        color: rgb(92, 92, 92);
      }
    }

    .history {
      margin-top: 30px;
      width: 100%;

      p {
        margin-bottom: 20px;
        font-size: 20px;
        color: rgb(92, 92, 92);
      }
    }
  }
}
