.presentation {
  display: flex;
  margin: 125px auto 94px;
  box-sizing: border-box;
  padding: 0 50px 0;

  .greetings {
    display: block;
    width: 50%;
    max-width: 100%;

    h1 {
      font-size: 35px;
      color: #242121;
      span {
        font-size: 40px;
      }
    }

    h2 {
      font-size: 30px;
      font-weight: normal;
      color: rgb(92, 92, 92);
    }
  }

  .history {
    width: 400px;
    margin-left: auto;

    p {
      margin-bottom: 20px;
      font-size: 20px;
      color: rgb(92, 92, 92);
    }
  }
}
