
// Colors

$background: #23263a; // Space Cadet
$background-light: #2e324d; // Space Cadet

// $primary: #8E05C2; // French Violet
$primary-dark: #4e42d4; // Ocean Blue
$primary: #DB88FC; // Bright Lilac

$secundary: #eeeeee; // Cultured
$secundary-dark: #8f8f8f; // Spanish Gray

$tertiary: #EC615B; // Fire Opal

$red: #FF605C;
$yellow: #FFBD44;
$green: #00CA4E;