@import "../Variables.scss";

.contact {
	position: relative;
	padding: 0 0 150px;
	min-height: 600px;

	.contact-image-wrapper {
		position: absolute;
		top: 160px;
		right: 100px;
		width: 600px;
		height: 600px;
	}

	.form-wrapper {
		position: absolute;
		margin-top: 40px;
		max-width: 600px;
		width: 100%;
		background-color: $background-light;
		min-height: 450px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		.contact-form {
			width: 100%;
			padding: 15px 10px;

			.row {
				display: flex;
				flex-direction: column;
				width: 100%;
				margin-bottom: 15px;

				label {
					color: $secundary;
					margin-bottom: 5px;
				}

				.field {
					border-radius: 0;
					color: $secundary;
					border: none;
					border-bottom: 1px solid $secundary;
					background-color: $background;
					height: 30px;
					outline: none;
					padding: 10px;
					font-size: 18px;
					font-weight: 200;

					&.message {
						border: none;
						background-color: $background;
						resize: vertical;
						max-height: 580px;
						min-height: 200px;
					}
				}

				&.submit {
					align-items: flex-end;
					
					input {
						min-width: 100px;
						max-width: 350px;
						color: $secundary;
						border: none;
						background-color: $primary-dark;
						padding: 5px 20px;
						font-size: 20px;
						font-weight: bold;
						cursor: pointer;
					}
				}
			}
		}

		.message-submitted {
			display: flex;
			flex-direction: column;
			width: 100%;
			height: 100%;
			padding: 0 30px;

			span {
				color: $secundary;
				font-size: 24px;
				text-align: center;
				white-space: pre-line;
				line-height: 40px;
			}
		}
	}
}
