@import "../Variables.scss";

.projects {
	padding: 50px 0 150px;

	.my-projects {
		.tabs {
			.tab {
				color: $secundary;
				font-size: 16px;
				font-weight: bold;
				margin: 5px 10px;
				padding: 5px 10px;
				cursor: pointer;
				transition: all 0.2s ease-in-out;

				&.active {
					background-color: $secundary;
					color: $primary-dark;
					border-radius: 5px;
				}
			}
		}

		.items {
			margin-left: 60px;
			list-style: none;
			display: grid;
			grid-gap: 60px 0;
			grid-template-columns: repeat(2, 1fr);
			justify-content: center;
			align-content: center;
			justify-items: center;
			align-items: center;
			padding: 50px 0 30px;

			.browser {
				border: 2px solid $background-light;
				position: relative;
				z-index: 1;

				&:hover {
					.wrapper {
						.overlay {
							transform: translateY(-100%);
							.content {
								.open-details {
									transform: translateY(0%);
								}
							}
						}
					}
				}

				&::before {
					content: "";
					position: absolute;
					width: 100%;
					height: 100%;
					background-color: $primary;
					left: -10px;
					top: -10px;
					z-index: -1;
				}

				.wrapper {
					overflow: hidden;
					position: relative;

					.title-bar,
					.action-bar {
						display: flex;
						flex-direction: row;
						border: 2px solid $background-light;
					}

					.title-bar {
						padding: 5px;
						background-color: $primary-dark;

						.title-btn {
							width: 15px;
							height: 15px;
							border-radius: 100%;
							margin-right: 5px;

							&.red {
								background-color: $red;
							}
							&.yellow {
								background-color: $yellow;
							}
							&.green {
								background-color: $green;
							}
						}
					}

					.action-bar {
						background-color: $secundary;
						padding: 5px 10px;
						justify-content: space-between;
						align-items: center;

						.action-btn {
							color: $background-light;
							display: flex;
							justify-content: center;
						}

						.search-bar {
							width: 300px;
							border-radius: 5px;
							border: 1px solid $background-light;
							overflow: hidden;
							span {
								margin: 0;
								display: inline-block;
								padding-left: 5px;
								font-size: 11px;
								color: $secundary-dark;
								white-space: nowrap;
								overflow: hidden;
								text-overflow: ellipsis;
								max-width: 200px;
							}
						}
					}

					.screenshot {
						max-height: 300px;
						img {
							object-fit: fit;
						}
					}

					.overlay {
						position: absolute;
						width: 100%;
						height: 100%;
						background-color: rgba($color: #000000, $alpha: 0.3);
						display: flex;
						flex-direction: column;
						align-items: center;
						justify-content: center;
						transition: transform 500ms ease;
						transform: translateY(0%);

						.content {
							position: relative;
							width: 100%;
							height: 100%;

							.project-name,
							.open-details {
								display: flex;
								justify-content: center;
								align-items: center;
								position: absolute;
								left: 0;
								right: 0;
								margin-left: auto;
								margin-right: auto;
								color: $secundary;
								font-weight: bold;
								cursor: pointer;
							}

							.project-name {
								margin-bottom: auto;
								height: 100%;
								font-size: 36px;
							}

							.open-details {
								position: absolute;
								bottom: 20px;
								height: 40px;
								background-color: $primary-dark;
								padding: 5px 10px;
								max-width: 200px;
								font-size: 24px;
								transform: translateY(50%);
								transition: transform 700ms ease;
								transition-delay: 300ms;

								// &:active {
								// 	transform: scale(.97);
								// }
							}
						}
					}
				}
			}
		}
	}
}

@media (max-width: 768px) {
	.projects {
		padding: 50px 20px 150px;

		.my-projects {
			.tabs {
				.tab {
					font-size: 14px;
				}
			}
			.items {
				margin-left: 20px;
				grid-template-columns: repeat(2, 1fr);

				.browser {
					max-width: 300px;
					max-height: 300px;
					.wrapper {
						.screenshot {
							border: 1px solid $background-light;
						}

						.overlay {
							transform: translateY(-100%);
							.content {
								.open-details {
									transform: translateY(0%);
								}
							}
						}
					}
				}
			}
		}
	}
}

@media (max-width: 550px) {
	.projects {
		padding: 50px 20px 150px;

		.my-projects {
			.tabs {
				.tab {
					font-size: 14px;
				}
			}
			.items {
				margin-left: 20px;
				grid-template-columns: repeat(1, 1fr);

				.browser {
					max-width: 300px;
					max-height: 300px;
					.wrapper {
						.screenshot {
							border: 1px solid $background-light;
						}
					}
				}
			}
		}
	}
}
