<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Contato</title>
</head>
<body>
	<main>
		<h1>Você recebeu um e-mail de contato</h1>
		<span>${req.body.name} te enviou uma mensagem pelo formuário do site</span>
		<section>
			<h2 style="margin-bottom: 0;">Remetente: ${req.body.email}</h2>

			<h3 style="margin-bottom: 0;">Mensagem:</h3>
			<p style="background-color: #eee; max-width: 300px; white-space: pre-wrap;" >${req.body.message}</p>
		</section>
	</main>
</body>
</html>